* {
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(to bottom, #006666 0%, #33bbff 100%);
	color: #fff;
}

header {
	display: flex;
	justify-content: space-between;
	text-align: center;
	max-width: 80%;
	margin: 0 auto;
	padding: 50px;
}

header h1 {
	font-size: 40px;
	font-family: 'Source Code Pro', monospace;
}

header a {
	display: inline-block;
	font-size: 36px;
	text-decoration: none;
	padding: 10px;
	color: #fff; 
}

header a:hover {
	color: #0099dd;
}

main {
	max-width: 80%;
	margin: 0 auto; 
}

main h1 {
	text-align: center;
	margin: 20px auto 50px;
}

.what-we-do {

}

.what-we-do h2 {
	text-align: center;
	margin: 20px 0;
	color: #0099dd;
}

.what-we-do p {
	text-align: justify; 
}

.w-w-d-row-1 {
	display: flex;
	justify-content: flex-start;
	margin: 20px auto;
}

.w-w-d-row-1 img {
	margin: 20px;
	max-width: 100%;
	height: auto;
	max-height: 250px; 
}

.row-1-1-3 {
	width: 33%;
	background: rgba(0, 30, 0, 0.6);
	padding: 10px;
}

.row-1-2-3 {
	background: rgba(0, 30, 0, 0.6);
}

.w-w-d-row-2 {
	display: flex;
	justify-content: center;
	margin: 20px auto;
}

.w-w-d-row-2 img {
	margin: 20px;
	max-width: 100%;
	height: auto;
	max-height: 250px; 
}

.row-2-1-3 {
	width: 33%;
	background: rgba(0, 30, 0, 0.6);
	padding: 10px;
}

.row-2-2-3 {
	background: rgba(0, 30, 0, 0.6);
}

.w-w-d-row-3 {
	display: flex;
	justify-content: flex-end;
	margin: 20px auto;
}

.w-w-d-row-3 img {
	margin: 20px;
	max-width: 100%;
	height: auto;
	max-height: 250px; 
}

.row-3-1-3 {
	width: 33%;
	background: rgba(0, 30, 0, 0.6);
	padding: 10px;
}

.row-3-2-3 {
	background: rgba(0, 30, 0, 0.6);
}

.our-team {
	display: flex;
	justify-content: space-around;
	margin: 50px auto;
}

.specialist-card {
	max-width: 30%;
	background: #003366;
	box-shadow: 0 0 10px #000;
	transition: 1s;
}

.specialist-card:hover {
	transform: scale(1.2);
	transition: 1s;
}

.s-c-r-1 {
	text-align: center;
	padding: 20px;
}

.s-c-r-2 {
	text-align: center;
	color: #000;
	text-align: center;
}

.s-c-r-2 img {
	padding: 10px;
	width: 100%;
	max-width: 400px;
	height: auto;
	border-radius: 20px;

}

.s-c-r-3 {
	text-align: center;
	padding: 20px;
}

.our-clients {
	margin: 50px auto;
}

.client-comment {
	margin: 20px auto;
	display: flex;
	box-shadow: 0 0 10px #000;
}

.c-c-r-1 {
	text-align: center;
	background: #fff;
}

.c-c-r-1 img {
	padding: 10px;
	border-radius: 100px;
	width: 100%;
	max-width: 200px;
	height: auto;
}

.c-c-r-2 {
	font-style: italic;
	line-height: 150%;
	width: 85%;
	background: #bbbbbb;
	padding: 10px;
	color: #000;
}

.c-c-r-2 h3 {
	font-size: 1.5em;
	margin: 10px;
}

footer {
	display: flex;
	justify-content: space-between;
	text-align: center; 
	max-width: 80%;
	margin: 100px auto 0; 
}

footer ul {
	list-style: none;
}

.contacts a {
	display: inline-block;
	font-size: 36px;
	text-decoration: none;
	padding: 10px;
	color: #fff; 
}

.contacts a:hover {
	color: #003366;
}

.contacts a:active {
	color: #000;
}

.menu a {
	display: inline-block;
	font-size: 24px;
	text-decoration: none;
	padding: 10px;
	color: #fff; 
}

.menu a:hover {
	color: #003366;
}